AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=
KEYCLOAK_BASE_URL=
KEYCLOAK_REALM=
LOG_LEVEL=info
OAS_FETCH_TIMEOUT_MS=45000
OPENAPI_MOCK=false
OPENAPI_VALIDATE_RESPONSES=false
DB_HOSTNAME=
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DBNAME=don_events
DB_SCHEMA=public
PUBLIC_BASE_URL=
EVENTS_TIME_ZONE=Europe/Amsterdam
PLEIO_SOURCES=https://digilab.pleio.nl
PLEIO_HARVEST_ENABLED=true
PLEIO_HARVEST_CRON=0 6 * * *
PLEIO_TIMEOUT_MS=30000
